@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bar manager</h1>
    <p class="lead">This is application for managing bar traffic and storage state.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github account</h2>
        <p>
            This is repository where you can find this project.
        </p>
        <p><a class="btn btn-default" href="https://github.com/MatejVukosav/bar-manager">Go to github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>
            <h5>Skladiste</h5>
            <div>
                <input type="checkbox" checked />
                <label for="UI">Unijeti novu vrstu robe(puni se sifrarnik robe)</label>
            </div>
            <div>
                <input type="checkbox" />
                <label for="UI">Unijeti novu vrstu robe(puni se sifrarnik robe)</label>
            </div>
            <div>
                <input type="checkbox" />
                <label for="UI">editirati postojecu robu</label>
            </div>
            <div>
                <input type="checkbox" />
                <label for="UI">unijeti novo stanje robe na skladistu</label>
            </div>
            <div>
                <input type="checkbox" />
                <label for="UI">izlazni promet(koliko robe se uzeli sa skladista)</label>
            </div>
            <h5>Prikaz prometa</h5>
            <div>
                <input type="checkbox" />
                <label for="traffic">Prosli mjesec</label>
            </div>
            <div>
                <input type="checkbox" />
                <label for="traffic">Tekuci mjesec</label>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recommended libraries</h2>
        <p>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-1">MVC Overview</a></li>
            <li><a href="https://code.tutsplus.com/tutorials/http-the-protocol-every-web-developer-must-know-part-1--net-31177">HTTP</a></li>
            <li><a href="link http://www.tutorialsteacher.com/mvc/create-first-asp.net-mvc-application">ASP.NET MVC first app</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started">ASP.NET MVC getting started</a></li>
            <li><a href="https://stackoverflow.com/questions/10415846/asp-net-mvc-database-access">Database classic</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-4">Database entity frameword</a></li>
        </p>
    </div>
</div>